<style>
    body {
        background-color: #caf8f8d1;
        padding: 0;
        margin: 0;
    }

    nav {
        font-size: 1.25rem;
        font-weight: bold;
        z-index: 10;
        background-color: #caf8f8d1;
    }

    nav .logo {
        color: blue;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    #notifications {
        position: absolute;
        right: -8px;
        top: 0;
        display: flex;
        justify-content: flex-end;
        color: red;
        font-weight: bold;
        font-size: smaller;
        border-radius: 1rem;
        padding-left: 4px;
    }

</style>
<nav class="navbar sticky-top navbar-expand-lg">
    <div class="container-fluid p-2-inline">
        <div class="logo">Ships Game</div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto d-flex justify-content-between" style="width: 300px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item" style="position: relative;">
                    <div id="notifications"></div>
                    <a class="nav-link" href="/game">Games</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Info
                    </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/ranking">Ranking</a></li>
                    <li><a class="dropdown-item" href="/instructions">Instructions</a></li>
                </ul>
                </li>
            </ul>
        </div>
        <div>
            <a href="/registration"><button class="btn btn-secondary" type="button" style="font-weight: bold;">Register</button></a>
            <a href="/login"><button class="btn btn-success" type="button" style="font-weight: bold;">Login</button></a>
        </div>
    </div>
</nav>