body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
    position: absolute;
    bottom: 0;
}

.container {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.numbers {
    width: 418px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 100%;
    left: 0;
    gap: 2px;
    padding: 5px;
}

.numbers div {
    height: 40px;
    width: 40px;
    background-color:#cde2fe;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace
}

.letters {
    height: 418px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 100%;
    gap: 2px;
    padding: 5px;
}

.letters div {
    height: 40px;
    width: 40px;
    background-color:#cde2fe;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap: 2px;
    background-color: #ddd;
    padding: 5px;
}

.board div {
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.board div:hover {
    background-color: #e0e0e0;
}

.info {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.info h3 {
    margin: 0 0 10px;
}

.info ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
}

.info ul li {
    margin-bottom: 5px;
}

.info button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.info ul#ship-list {
    column-count: 1;
}

.info ul#ship-list li {
    display: flex;
    align-items: center;
    padding-inline: 0.5rem;
}

.info ul#ship-list li span {
    margin-right: 0.5rem;
}

.info button:nth-of-type(2) {
    background-color: red;
}

.info button:hover {
    background-color: #0056b3;
}

.info button:nth-of-type(2):hover {
    background-color: #900000;
}

.info button:last-child {
    background-color: #28a745;
}

.info button:last-child:hover {
    background-color: #218838;
}

.info button.disabled {
    background-color: lightgray;
    pointer-events: none;
}

.board div.selected {
    background-color: red;
}

.board div.waiting {
    pointer-events: none;
}

.board div.ship {
    background-color: grey;
    pointer-events: none;
}

.board div.ship-aside {
    pointer-events: none;
    background-color: #25c9ff;
}

.board div.all-placed {
    pointer-events: none;
}

.board div.confirmed {
    background-color: #25c9ff;
}

.prep-alert-box {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#prep-alerts {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0 0 20px;
}

#prep-alerts li {
    font-size: 1.25rem;
    font-weight: bold;
}